/* import Raleway font */
@import url('https://fonts.googleapis.com/css?family=Raleway:200,100400');

body {
    font-family: Raleway, sans-serif;
    height: 100vh;
    background: #333;
    color: #ccc;
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;   
    justify-content: center;
    padding: 0 3rem;
}

h1,
h2 {
    font-weight: 200;
    margin: 0.4rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    color: #aaa;
}

.txt-type > .txt {
    border-right: 0.2rem solid #777;
}

@media(min-width: 1200px) {
    h1 {
        font-size: 3.5rem;
    }
} 

@media(max-width: 800px) {
    .container {
        padding: 0 1rem;
    }

    h1 {
        font-size: 3rem;
    }
}

@media(max-width: 500px) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}